#container{
    size: 120%;
}

.fondohome {
    height: 100vh;
    background-image: url(../../../../../assets/imagen/asds.jpg);
    background-size: cover;
    text-align: center;
  
}
.toolbar{
    --background: linear-gradient(#0050a5,  #676ddb);

}

.color-verde{
    color: lightgreen;
}

.color-rojo{
    color: red;
}